* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    padding: 40px 0;
}

.box-header {
    height: 80px;
    background: #F79125
}
.box-footer .title{
    text-transform: capitalize;
}

.title {
    line-height: 80px;
    height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
}

.upm-full-text {

}

.upm-short-text {

}

.content {
    max-width: 1240px;
    margin: auto;
    padding: 40px 0px;
}

.one-page{
    height: 1754px;
    /*background: rgba(0,0,0,.1);*/
}

.paragraph {
    text-align: justify;
    margin-top: 15px;
}

/*table*/
.headding-box {

}

.heading-title {

}

.heading-bg {

}

.table-first-row-bg {

}

.table-even-row-bg {

}

.table-odd-row-bg {

}

.table-content-bold {

}

.table-content-small-text {

}

.table-content-text {

}

.table-star-big {
    width: 100px;
}

.table-star-small{
    width: 70px;
}

.bg-star-normal {

}

.underline{
    text-decoration: underline;
}
.bold{
    font-weight: bold;
}
.italic{
    font-style: italic;
}

/*greetings*/
.greetings{
    font-size: 30px;
}
.box-person{
    padding-top: 40px;
}
.person-text{
    color: #0B6C2E;
    font-weight: bold;
    margin-top: 30px;
}
.upm-u{
    color: #008035;
    font-weight: bold;
}
.upm-p{
    color: #fe7700;
    font-weight: bold;
}
.upm-m{
    color: #df0001;
    font-weight: bold;
}

/*3 overall*/
.box-ceritficate{
    background-image: url('https://manhnt999.000webhostapp.com/upm-pdf/images/bg-certificate.jpg');
    text-align: center;padding: 30px;
    background-size: 100% 100%;
    width: 70%;
    margin: auto;
}
.box-ceritficate p:nth-child(2){
    color: #0B6C2E;
    font-weight: bold;
    font-size: 19px;
}
.box-ceritficate p:nth-child(3){
     color: #334722;
     font-size: 60px;
}
.box-ceritficate p:nth-child(4){
    color: #334722;
    font-size: 60px;
    text-transform: uppercase;
}
.box-ceritficate p:nth-child(6){
    color: #2e8f58;
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 20px;
}
.box-ceritficate p:nth-child(7){
    color: #334722;
    font-size: 30px;
    text-transform: uppercase;
}
.certificate-logo{
    width: 25%;
}
.research-plus{
    width: 40%;
}
.box-chieved{
    position:relative;
    height: 100px;
    background:#df0001;
    width: 75%;
    margin: auto;
    margin-top: 80px;
}
.box-score{
    position: absolute;
    left: 0; top: 0;
    bottom: 0;
    width: 70%;
    background:#fe7700;
}
.box-chieved-score{
    position:absolute;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 12px
}
.box-chieved-score p{
    color: #fff;
    font-weight: bold;
    font-size: 30px;
}
.box-max-score{
    position:absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 12px;
}
.box-max-score p {
    color: #fff;
    font-weight: bold;
    text-align: right;
    font-size: 30px;
}
.overall-bottom{
    width: 100%;
    margin-top: 30px
}
.cat-bottom{
    width: 100%;
    margin-top: 30px
}
/*category rating*/
.box-percent{
    padding: 0px 100px;
}
.item-percent{
    display: flex;
    margin-top: 20px !important;
}
.cate-left{
    flex: 4;
    display: flex
}
.cat-text{
    flex: 3;
    display: flex;
    align-items: center;
}
.cat-text p{
    color: #0B6C2E;
    font-weight: bold;
    font-size: 30px;
}
.cat-star{
    flex: 1;
    display: flex;
    align-items: center;
}

.cat-star img{
    width: 90px
}

.cat-right{
    flex: 5;
    display: flex;
    align-items: center;
}
.box-cat-percent{
    position: relative;
    background: #df0001;
    height: 70px;
    width: 100%;
}
.cat-active{
    background: #fe7700;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}
.cat-number{
    position: absolute;
    height: 100%;
    line-height: 70px;
    left: 0;
    padding-left: 20px;
    font-weight: bold;
    color: #fff;
    font-size: 30px;
}

.cat-total{
    position: absolute;
    right: -60px;
    font-weight: bold;
    font-size: 30px;
    color: #0B6C2E;
    height: 100%;
    line-height: 70px;
}
/*5 STRATEGIC GOVERMANCE */

.common-table, .tr-heading, .tr-heading th, .tr-heading, td{
    border: 1px solid #ccc;
    border-collapse: collapse;
    padding: 7px;
}

.common-table th {
    text-align: center;
}

.tr-heading{
    background: #385623;
    color: #fff;
    font-weight: bold;
}

.tr-main{
    background: #a8d08d;
}

.tr-main td{
    text-align: center;
}

.tr-main td:nth-child(2){
    text-align: left;
}

.tr-main td:last-child{
    text-align: center;
}

.tr-sub:nth-child(even){
    background: #e2efd9;
}

.tr-sub:nth-child(odd){
    background: #fff2cc;
}

.tr-sub td:last-child{
    text-align: center;
}

.tr-sub td{
    text-align: center;
}

.tr-sub td:nth-child(2){
    text-align: left;
}

.last-page-picture{
    width: 100%;
    margin-top: 30px;
}

/*13 basic facts*/
.total-table{
    width: 60%;
    margin: auto;
}
.total-table, .total-table tr, .total-table td{
    border: 1px solid #ccc;
    border-collapse: collapse;
}

.none-column{
    height: 50px;
    background: #ffc000;
}

.total-header{
    background: #ffd966;
    font-weight: bold;
}
.total-content:nth-child(even){
    background: #fff2cc;
}
.total-content:nth-child(odd){
    background: #f2f2f2;
}

.box-chart{
    text-align: center;
}

/*about*/

.p-title{
    font-weight: bold;
    font-size: 35px;
    margin-top: 20px;
}

.p-title:first-child{
    margin-top: 0;
}

.p-subtitle{
    font-size: 30px;
    margin-top: 15px;
    font-weight: bold;
}

.p-content{
    font-size: 25px;
    text-align: justify;
    margin-top: 10px;
}

.ul-content{
    padding-left: 80px;
    margin-top: 20px;
}

.ul-content li{
    font-size: 30px;
}